*{
    margin: 0;
    padding: 0;
}
.full-container{
    background-image: linear-gradient(to left, #f18c90, #ef6a6f);
    height: 100vh;
}
div .navbar-brand{
    color: #ed6b6d;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

a.nav-link{
    color: #eb494b;
    text-decoration: none;
}

a.navbar-brand:hover{
    color: #ed6b6d;
    text-decoration: none;
}
a.nav-link:hover {
    color: #eb494b;
    text-decoration: none;
}
a.active{
    font-weight: bold;
    color: #eb494b;
}  

a.active:hover, a.log-link:hover{
    text-decoration: none;
}
.slide{
    font-size: 25px;
    color: #eb494b;
}
i.fa-user-circle{
    font-size: 25px;
}   
.log-link{
    color: #eb494b;
    text-decoration: none;
    font-size: 18px;
}
p{
    color: #b08581;
}
