<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stress Management</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <!-- Fontawesome ICONS link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tilt+Neon&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static '/css/user-form.css' %}">
    
  </head>
<body>
    <div id="loading-overlay">
        <div class="spinner"></div>
      </div>
    <div class="full-container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{ message.tags }} d-flex justify-content-center align-items-center" role="alert">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-container">
            <h1>Stress Analysis Form</h1>
        <form id="stress-analysis-form" action="{% url 'user-form' %}" method="post">
            {% csrf_token %}
            <!-- User Information Section -->
            <h2>User Information</h2>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value={{ name }} required><br><br>
            
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" value={{ username }} required><br><br>
            
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required><br><br>
            
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select><br><br>

            <label for="are-you">Are You:</label>
            <select id="are-you" name="are-you" required>
                <option value="student">Student</option>
                <option value="work">Working</option>
            </select><br><br>
            <hr/>
            <!-- Stress Analysis Section -->
            <h2>Stress Analysis</h2>
            <h3>Sleep Patterns and Quality</h3>
            <label for="sleep-hours">How many hours of sleep do you get per night?</label>
            <input type="number" id="sleep-hours" name="sleep-hours" required><br><br>
            
            <label for="sleep-quality">How would you rate the quality of your sleep?</label>
            <select id="sleep-quality" name="sleep-quality" required>
                <option value="poor">Poor</option>
                <option value="fair">Fair</option>
                <option value="good">Good</option>
                <option value="excellent">Excellent</option>
            </select><br><br>
            <hr/>
            <h3>Exercise and Physical Activity</h3>
            <label for="exercise-frequency">How often do you exercise or engage in physical activity?</label>
            <select id="exercise-frequency" name="exercise-frequency" required>
                <option value="daily">Daily</option>
                <option value="several-times-a-week">Several times a week</option>
                <option value="about-once-a-week">About once a week</option>
                <option value="None">None</option>
            </select><br><br>
            
            <label for="exercise-duration">How long do you typically exercise or engage in physical activity?</label>
            <input type="number" id="exercise-duration" name="exercise-duration" required> minutes<br><br>
            <hr/>
            <h3>Diet and Nutrition</h3>
            <label for="diet-type">What type of diet do you follow?</label>
            <select id="diet-type" name="diet-type" required onchange="handleDietChange()">
                <option value="non-vegetarian">Non-Vegetarian</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
                <option value="other">Other (please specify)</option>
            </select><br><br>
            
            <input type="text" id="diet-type-other" name="diet-type-other" disabled style="cursor: not-allowed;"><br><br>
            <hr/>
            <h3>Work or School Schedule and Workload</h3>
            <label for="work-schedule">What is your typical work or school schedule?</label>
            <select id="work-schedule" name="work-schedule" required>
                <option value="full-time">Full-time</option>
                <option value="part-time">Part-time</option>
            </select><br><br>
            
            <label for="workload">How would you rate your workload?</label>
            <select id="workload" name="workload" required>
                <option value="light">Light</option>
                <option value="moderate">Moderate</option>
                <option value="heavy">Heavy</option>
            </select><br><br>
            <hr/>
            <h3>Social Relationships and Support Networks</h3>
            <label for="social-support">How would you rate your social support network?</label>
            <select id="social-support" name="social-support" required>
                <option value="strong">Strong</option>
                <option value="moderate">Moderate</option>
                <option value="weak">Weak</option>
            </select><br><br>
            <hr/>
            <h3>Coping Mechanisms</h3>
            <label for="coping-mechanisms">How would you rate your current coping mechanisms level?</label>
            <input name="coping-mechanisms" id="coping-mechanisms" type="number" onchange="handleCopyLevel()"/>
            <p class="copy-error-msg"></p><hr/>
            <h3>Stress Levels</h3>
            <label for="stress-level">How would you rate your current stress level?</label>
            <input name="stress-level" id="stress-level" type="number" onchange="handleStressLevel()"/><br><br>
            <p class="stress-error-msg"></p>
            <hr/>
            <label for="well-being">How would you rate your current well being?</label>
            <input name="well-being" id="well-being" type="number" onchange="handleWellLevel()"/><br><br>
            <p class="well-error-msg"></p>

            <button class="form-submit" type="submit">Submit</button>
        </div>
        <div class="result-container" id="result-container" style="display:none;">
            <h1>Stress Management Results</h1>
            <div class="stress-level-percentage" id="stress-level-percentage"></div>
            <ul id="result-tips"></ul>
        </div>
    </div>
    <script src="{% static '/form.js' %}"></script>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="a51e0bbe-f75a-4f27-8800-e67040416d06";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>